body{
  background-size: 100% 90% !important;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: cambria;
  font-size: 1.25rem;

}

#portfolio-btn {
  position: fixed;
  right: 1rem;
  top: 1rem;
  margin: 1rem;
  padding: .5rem;
  background-color: rgba(1,50,32,0.7);
  border-color: black;
}

#portfolio-btn a {
  color: white;
  text-decoration: none;
}

.container{
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
}


.container-fluid{
  background-color: black;
  opacity: 0.5;
  color: white;
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  border: 1px solid black;
  line-height: 5vh;
  height: 70%;
}



li:first-child {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

li:first-of-type + li{
  padding-bottom: 2rem;
}

#degreesign {
  text-decoration: none;
  color: red;
  
}

#degreesign:hover {
  text-decoration: none;
  font-weight: bold;
}





@media (min-width: 600px) {

    body {
      font-size: 1.75rem;
      background-size: 90% 80% !important;
    }

    li:first-child {
      font-size: 2rem;
    }

}


@media (min-width: 800px) {

    body {
      background-size: 80% 80% !important;
    }

    .container-fluid {
      margin-left: 5rem;
    }

}